.pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.pagination-button {
    background: transparent;
    color: #ff00ff;
    font-family: 'Beon';
    font-size: 40px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
}

.pagination-button:disabled {
    cursor: not-allowed;
    color: #ff00ff;
}

.pagination-info {
    color: #ffffff;
    font-family: 'Beon';
    font-size: 28px;

}
