.header-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* border: 1px solid red; */
    align-items: center;
}
.routes{
    display: flex;
    flex-direction: column;
    margin-right: -100px;
    height: 120px;
    justify-content: space-between;
}
.routes-buttons{
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    color: #ffffff; /* Neon purple text */
    border-color: #9400d3; /* Neon purple border */
    box-shadow: 0 0 10px #9400d3, 0 0 20px #9400d3, 0 0 30px #9400d3;
    border: 4px solid #9400d3; /* Neon pink border */
    border-radius: 10px;
    font-family: 'Beon',serif;
    /* text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; */
}
.routes-buttons:hover{
    color: #ff00ff; /* Neon pink text */
    cursor: pointer;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; /* Neon glow effect */
    border-color: #ff00ff; /* Neon purple border */
}
.logo{
    margin: auto;
    align-self: center;
}
