table, th, td {
    /* border: 1px solid rgb(247, 247, 247); */
    border-collapse: collapse;
    font-family: 'Beon';
    font-size: 20px;
}
.winner-table-container, table{
    width: 100%;
    border-collapse: collapse;
    
}
th{
    text-align: left;
    font-family: 'Beon';
    width: 200px;
}
th, td{
    padding-left: 20px;
}
.winner-head{
    height: 40px;
    box-shadow: 0 0 5px #ff00ff, 0 0 5px #ff00ff, 0 0 15px #ff00ff;
    border-radius: 10px;
}